.collapse {
  border-radius: 6px;
  margin-bottom: 30px;
  overflow: hidden;
   margin-left: 90px;
   margin-right: 90px;
  background-color: #f9f9f9;
  // border:2px solid green;
}

.collapse-header {
  background-color: rgb(253, 96, 102);
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  padding: 12px;
  cursor: default;
}

.collapse-button {
  background-color: rgb(253, 96, 102);
  border: none;
  width: 50px;
  text-align: right;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transition: background-color 0.3s ease, max-height 0.3s ease, padding 0.1s ease; /* Réduction de la durée de la transition du padding */
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  font-size: 20px;
  color: rgb(253, 96, 102);
  transition: max-height 0.2s ease-in-out, opacity 0.3s ease, margin 0.3s ease; /* Ajouter margin à l'animation */
  margin: 0px 18px; /* résolution du problème de saccade à la fermeture */
  cursor: default;
}

.open .collapse-content {
  max-height: 1000px; 
  opacity: 1;
  margin: 10px 10px 18px 18px; /* résolution du problème de saccade à la fermeture */
}




  
  
  