.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255,96,96);
    text-align: center;
    // border: 2px solid red;
    
  
    .error__title {
      font-size: 200px; 
      margin-bottom: 20px;
      color: rgb(255,96,96);
    }
  
    .error__message {
      font-size: 30px; 
      margin-bottom: 20px;
    }
  
    .error__link {
      text-decoration: underline;
      color: rgb(255,96,96);
      margin-bottom: 150px;
    }
  }
  
  