/* FicheLogement container */
.fiche-logement {
    // max-width: 800px;
    // margin: 0 auto;
    // padding: 20px;
    // text-align: center;
    // border: 2px solid red;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Titre du logement */
  .fiche-logement-title {
    color: rgb(255,96,96);
    font-size: 38px;
    font-weight: 500;
    border: 2px solid red;
    // margin-left: 155px;
    margin-bottom: 50px;
    width: 690px;
  }

  .fiche-logement-location {
    color: rgb(255,96,96);
    // margin-left: 105px;
  }
  
  /* Description du logement */
  .fiche-logement-description {
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Retour au bouton de la galerie */
  .return-button {
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #007bff; /* Couleur du lien */
    // cursor: pointer;
  }
  

  