.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    // padding: 20px;
    height: 410px;
    // border: 2px solid red;
   
    
    
    &__logo {
     img {
        max-width: 225px;
        margin-top: 45px;
     }  
    }

   
    &__rights {
      font-size: 24px;
      margin-top: 20px; 
    }
  }
  
  
  